*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #5b5b5b;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

nav ul{
    background-color: rgb(47, 47, 47);
    border-radius: 20px;
    padding: 0;
    height: 35px;
    display: flex;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    padding: 4px 35px;
    background: none;
    height: 25px;
}

nav ul li:hover{
    background-color: rgb(71, 71, 71);
    border-radius: 15px;
}

nav ul li a{
    background: none;
    text-decoration: none;
    color: rgb(151, 151, 151);
    font-size: 13px;
}

.btn-nav:hover {
    color: rgb(255, 255, 255);
}
